{% extends "base.template" %}
{% load staticfiles %}

{% block title %}
    Universe Viewer - Splash/Root
{% endblock title %}

{% block scripts %}
{% endblock scripts %}

{% block topbar %}
    <div id="topbar">
        <p>Hallo</p>
    </div>
{% endblock topbar %}

{% block content %}
    <div id="content">
        <h3>Universe Generator 0.1 -- User Splash Page</h3>
        </ br>
        <p>Please select an option:</ br>
            <ul>
                <li>Login</li>
                <li>Register</li>
            </ul>
        </p>
    </div>
{% endblock content %}

{% block trailer %}
{% endblock trailer %}
